body{
	background-color: black;
	/*background-image: url(back.jpg);*/
	text-align: center;
	/*padding : 80px;*/
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
.navbar{
	position:fixed;
	top: 0%;
	width: 100%;
	margin-bottom: 5%;
	opacity: 0.8;
}
